

.searchSubnav .container {
	background-color: #642a90;
	min-height: 125px;
	padding: 1.25rem 1rem 1.25rem 1.25rem;
	margin-top: 15px;
	z-index: 9;
	top: 0px;
	transition: all ease .25s;
	border-radius: calc(0.5rem - 1px);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-image: url('https://library.albany.edu/libdru/future/search-lighten10.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
}


h2.search-intro {
	display: none;
}

.search-index .searchSubnav .container{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
}

.search-index h2.search-intro {
	display: inline-block;
	color: #ffffff;
	text-align: center;
	margin-right: 25px;
	margin-left: 20px;
	font-weight: 300;
	text-shadow: 3px 3px 5px #46166b;
}


.search-query-form {
	flex: 1;
}


.arclightSearch {
	display: none;
}
.hyraxSearch {
	display: none;
}


.searchSelect {
	background-color: #EBE6F0;
	border-color: #ced4da;
	color: #46166B;
	width: 160px;
	display: flex;
    justify-content: space-between;
	align-items: center;
	font-size: .85em;
	border-radius: 0px;
}

.search-query-form .dropdown-menu {
	font-size: .85em;
}
/* dropdown without text for small displays*/
.noText {
	display: none;
	width: auto;
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}

/* the How to search the Archives link */
.searchSubnav .container .aboutSearch {
	margin: 0px 20px;
	color: #EBE6F0;
	font-size: .75em;
}

.searchSubnav .btn-primary {
	background-color: #9e68c7;
	border-color: #9e68c7;
}

.searchSubnav .twitter-typeahead {
	flex: 1 !important;
}

.searchSubnav .tt-input {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: #ffffff;
}

/* input and button focus colors */
.input-group-prepend.show > .searchSelect.dropdown-toggle:focus, .searchSelect:active:focus, .searchSelect.active:focus, .searchSelect:focus {
	border-color: #46166B ;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #46166B ;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #46166B ;
}
.searchSelect:active, .searchSelect:hover, .searchSelect.active, .show > .searchSelect.dropdown-toggle {
	background-color: #9e68c7;
	border-color: #9e68c7;
	color: #EBE6F0;
}
.search-query-form .dropdown-item:hover, .search-query-form .dropdown-item:focus {
	color: #EBE6F0!important;
	background-color: #642a90;
}
.searchSubnav .search-query-form input:focus {
  border-color: #9e68c7 ;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #9e68c7 ;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #9e68c7 ;
}
.searchSubnav .btn-secondary:not(:disabled):not(.disabled):active:focus, .searchSubnav .btn-secondary:not(:disabled):not(.disabled).active:focus, 
.searchSubnav .show > .btn-secondary.dropdown-toggle:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #46166B ;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #46166B ;
}

.dropdown-menu, .twitter-typeahead .tt-menu {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#alight-utils a{
	font-size: .75em;
}

/* for js if header is fixed */
.fixedSubnav {
	position: fixed;
	width: 100%;
	top: 50px;
	z-index: 1;
}

/* for small displays */
@media only screen and (max-width: 765px) {
	.searchSubnav .container .aboutSearch {
		display:none;
	}
	.searchSubnav {
		top: 107px;
		position: fixed;
		width: 100%;
	}
}
@media only screen and (max-width: 575px) {
	.searchSelect {
		display: none;
	}
	.noText {
		display: flex;
	}
}
@media only screen and (max-width: 400px) {
	.searchSubnav {
		top: 50px;
	}
}